name: Generate Metrics SVG

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          node-version: 20

      - run: npm install @lowlighter/metrics

      - name: Run Metrics
        run: |
          npx metrics \
            --username tunisch \
            --output ./metrics.svg \
            --theme radical

      - name: Commit and Push Metrics
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add metrics.svg
          git commit -m "Generate metrics svg" || echo "No changes"
          git push
